/.vscode
**/node_modules
/build
/e2e-tests/build
/scripts/build
/target
yarn-error.log
**/*.rs.bk
.env.*
!.env.local
!.env.docker
.DS_Store
/.clinic
**.log
**/logs
.yarn/*
!.yarn/releases
!.yarn/plugins
/docs/.yarn
