**/node_modules
/build
/e2e-tests/build
/scripts/build
/target
yarn-error.log
**/*.rs.bk
.env
.env.*
!.env.local
!.env.docker
.DS_Store
/.clinic
**.log
**/logs

# Yarn berry
.yarn/*
!.yarn/releases
!.yarn/plugins
/docs/.yarn
.yarn.lock

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# Benchmarks
/benchmarks.txt
