openapi: 3.0.0
info:
  title: Substrate API Sidecar
  description: Substrate API Sidecar is a REST service that makes it easy to
    interact with blockchain nodes built using Substrate's FRAME framework.
  contact:
    url: https://github.com/paritytech/substrate-api-sidecar
  license:
    name: GPL-3.0-or-later
    url: https://github.com/paritytech/substrate-api-sidecar/blob/master/LICENSE
  version: 20.3.2
servers:
- url: https://polkadot-public-sidecar.parity-chains.parity.io/
  description: Polkadot Parity public sidecar
- url: https://kusama-public-sidecar.parity-chains.parity.io/
  description: Kusama Parity public sidecar
- url: https://polkadot-asset-hub-public-sidecar.parity-chains.parity.io/
  description: Polkadot Asset Hub Parity public sidecar
- url: https://kusama-asset-hub-public-sidecar.parity-chains.parity.io/
  description: Kusama Asset Hub Parity public sidecar
- url: http://localhost:8080
  description: Localhost
tags:
- name: accounts
- name: blocks
- name: contracts
- name: coretime
- name: node
  description: node connected to sidecar
- name: pallets
  description: pallets employed in the runtime
- name: runtime
- name: transaction
- name: paras
- name: trace
- name: rc
  description: relay chain specific endpoints for asset hub
paths:
  /accounts/{accountId}/asset-balances:
    get:
      tags:
      - accounts
      summary: Get an array of asset-balances for an account.
      description: Returns information about an account's asset-balances. This is
        specific to the assets pallet for parachains. If no `assets` query parameter
        is provided, all asset-balances for the given account will be returned.
      operationId: getAssetBalances
      parameters:
      - name: accountId
        in: path
        description: SS58 address of the account.
        required: true
        schema:
          type: string
          format: SS58
      - name: at
        in: query
        description: Block at which to query asset-balance info for the
          specified account.
        required: false
        schema:
          type: string
          description: Block height (as a positive integer) or hash
            (as a hex string).
          format: unsignedInteger or $hex
      - name: assets
        in: query
        description: An array of AssetId's to be queried. If not supplied, defaults to providing
          all asset balances associated with the `accountId` will be returned. The array query param
          format follows Express 4.x API. ex:`?assets[]=1&assets[]=2&assets[]=3`.
        required: false
        schema:
          type: array
          items:
            type: string
          description: An array of assetId numbers represented as strings
          format: Array of unsignedInteger's
      responses:
        "200":
          description: successfull operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAssetsBalances'
        "400":
          description: Invalid Address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /accounts/{accountId}/asset-approvals:
    get:
      tags:
      - accounts
      summary: Get an asset approval for an account.
      description: Returns information about an account's asset approval transaction.
        It is required to pass in a delegate and an assetId as query parameters.
      operationId: getAssetApprovals
      parameters:
      - name: accountId
        in: path
        description: SS58 address of the account.
        required: true
        schema:
          type: string
          format: SS58
      - name: at
        in: query
        description: Block at which to query asset approval info for the
          specified account.
        required: false
        schema:
          type: string
          description: Block height (as a non-negative integer) or hash
            (as a hex string).
          format: unsignedInteger or $hex
      - name: assetId
        in: query
        description: The `assetId` associated with the asset-approval.
        required: true
        schema:
          type: string
          description: An assetId represented as an unsignedInteger.
          format: unsignedInteger
      - name: delegate
        in: query
        description: The delegate's `accountId` associated with an asset-approval.
        required: true
        schema:
          type: string
          format: SS58
      responses:
        "200":
          description: successfull operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAssetsApproval'
        "400":
          description: Invalid Address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /accounts/{accountId}/balance-info:
    get:
      tags:
      - accounts
      summary: Get balance information for an account.
      description: Returns information about an account's balance.
        Replaces `/balance/{address}` from versions < v1.0.0.
      operationId: getAccountBalanceInfo
      parameters:
      - name: accountId
        in: path
        description: SS58 address of the account.
        required: true
        schema:
          type: string
          format: SS58
      - name: at
        in: query
        description: Block at which to query balance info for the
          specified account.
        required: false
        schema:
          type: string
          description: Block height (as a non-negative integer) or hash
            (as a hex string).
          format: unsignedInteger or $hex
      - name: token
        in: query
        description: 'Token to query the balance of. If not specified it will query
          the chains native token (e.g. DOT for Polkadot). Note: this is only relevant
          for chains that support multiple tokens through the ORML tokens pallet.'
        required: false
        schema:
          type: string
          description: Token symbol
      - name: denominated
        in: query
        description: When set to `true` it will denominate any balance's given atomic value
          using the chains given decimal value.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalanceInfo'
        "400":
          description: Invalid Address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /accounts/{accountId}/convert:
    get:
      tags:
      - accounts
      summary: Convert a given AccountId to an SS58 address.
      description: Returns the SS58 prefix, the network address format, the SS58 address, and the AccountId
        that was given as input parameter, the scheme that was used and if it is a public key or not (boolean).
      operationId: accountConvert
      parameters:
      - name: accountId
        in: path
        description: AccountId or Public Key (hex).
        required: true
        schema:
          format: AccountId or Hex
          type: string
      - name: scheme
        in: query
        description: The cryptographic scheme to be used in order to convert the AccountId to
          an SS58 address. It can take one of three values [sr25519, ed25519, ecdsa].
          The default scheme that is used is `sr25519` (if it is not set in the query parameter).
        required: false
        schema:
          type: string
          format: string
          default: 'sr25519'
      - name: prefix
        in: query
        description: The address prefix which can be one of the values found in the SS58-registry.
        required: false
        schema:
          type: string
          format: number
          default: 42
      - name: publicKey
        in: query
        description: Defines if the given value in the path parameter is a Public Key (hex)
          or not (hence AccountId).
        required: false
        schema:
          type: string
          format: boolean
          default: true
      responses:
        "200":
          description: successfully converted the AccountId and retrieved the address info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountConvert'
        "400":
          description: Invalid AccountId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: AccountId not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /accounts/{accountId}/pool-asset-balances:
    get:
      tags:
      - accounts
      summary: Get an array of pool-asset-balances for an account.
      description: Returns information about an account's pool-asset-balances. This is
        specific to the pool assets pallet for parachains. If no `assets` query parameter
        is provided, all pool-asset-balances for the given account will be returned.
      operationId: getPoolAssetBalances
      parameters:
      - name: accountId
        in: path
        description: SS58 address of the account.
        required: true
        schema:
          type: string
          format: SS58
      - name: at
        in: query
        description: Block at which to query pool-asset-balance info for the
          specified account.
        required: false
        schema:
          type: string
          description: Block height (as a positive integer) or hash
            (as a hex string).
          format: unsignedInteger or $hex
      - name: assets
        in: query
        description: An array of AssetId's to be queried. If not supplied, defaults to providing
          all asset balances associated with the `accountId` will be returned. The array query param
          format follows Express 4.x API. ex:`?assets[]=1&assets[]=2&assets[]=3`.
        required: false
        schema:
          type: array
          items:
            type: string
          description: A list of assetId numbers represented as strings
          format: Array of unsignedInteger's
      responses:
        "200":
          description: successfull operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPoolAssetsBalances'
        "400":
          description: Invalid Address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /accounts/{accountId}/pool-asset-approvals:
    get:
      tags:
      - accounts
      summary: Get an asset approval for an account.
      description: Returns information about an account's asset approval transaction.
        It is required to pass in a delegate and an assetId as query parameters.
      operationId: getPoolAssetApprovals
      parameters:
      - name: accountId
        in: path
        description: SS58 address of the account.
        required: true
        schema:
          type: string
          format: SS58
      - name: at
        in: query
        description: Block at which to query asset approval info for the
          specified account.
        required: false
        schema:
          type: string
          description: Block height (as a non-negative integer) or hash
            (as a hex string).
          format: unsignedInteger or $hex
      - name: assetId
        in: query
        description: The `assetId` associated with the asset-approval.
        required: true
        schema:
          type: string
          description: An assetId represented as an unsignedInteger.
          format: unsignedInteger
      - name: delegate
        in: query
        description: The delegate's `accountId` associated with an asset-approval.
        required: true
        schema:
          type: string
          format: SS58
      responses:
        "200":
          description: successfull operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAssetsApproval'
        "400":
          description: Invalid Address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /accounts/{accountId}/proxy-info:
    get:
      tags:
      - accounts
      summary: Get proxy account information.
      description: Returns information about a proxy account. This will include 
        delegated accounts and deposits held.
      operationId: getProxyInfo
      parameters:
      - name: accountId
        in: path
        description: SS58 address of the account.
        required: true
        schema:
          type: string
          format: SS58
      - name: at
        in: query
        description: Block at which to query proxy info for the
          specified account.
        required: false
        schema:
          type: string
          description: Block height (as a non-negative integer) or hash
            (as a hex string).
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successfull operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProxyInfo'
        "400":
          description: Invalid Address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /accounts/{accountId}/staking-info:
    get:
      tags:
      - staking
      summary: Get staking information for a _Stash_ account.
      description: Returns information about a _Stash_ account's staking activity.
        Replaces `/staking/{address}` from versions < v1.0.0. The _Stash_ account
        can be either a validator or nominator account.
      operationId: getStakingSummaryByAccountId
      parameters:
      - name: accountId
        in: path
        description: SS58 address of the account. Must be a _Stash_ account.
        required: true
        schema:
          format: SS58
          type: string
      - name: at
        in: query
        description: Block at which to query the staking info for the
          specified account.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      - name: includeClaimedRewards
        in: query
        description:  When set to `false`, the `claimedRewards` field is not included
          in the response.
        required: false
        schema:
          type: string
          format: boolean
          default: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStakingInfo'
        "400":
          description: invalid blockId supplied for at query param
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /accounts/{accountId}/staking-payouts:
    get:
      tags:
      - staking
      summary: Get payout information for a _Stash_ account.
      description: Returns payout information for the last specified eras. If
        specifying both the depth and era query params, this endpoint will
        return information for (era - depth) through era. (i.e. if depth=5 and
        era=20 information will be returned for eras 16 through 20). N.B. You
        cannot query eras less then `current_era - HISTORY_DEPTH`. N.B. The
        `nominator*` fields correspond to the address being queried, even if it
        is a validator's _Stash_ address. This is because a validator is technically
        nominating itself.
      operationId: getStakingPayoutsByAccountId
      parameters:
      - name: accountId
        in: path
        description: SS58 address of the account. Must be a _Stash_ account.
        required: true
        schema:
          format: SS58
          type: string
      - name: at
        in: query
        description: Block at which to query staking payouts.
        required: false
        schema:
          type: string
          description: Block height (as a non-negative integer) or hash
            (as a hex string).
          format: unsignedInteger or $hex
      - name: depth
        in: query
        description: The number of eras to query for payouts of. Must be less
          than or equal to `HISTORY_DEPTH`. In cases where `era - (depth -1)` is
          less than 0, the first era queried will be 0.
        required: false
        schema:
          type: string
          format: unsignedInteger
          default: 1
      - name: era
        in: query
        description: The era to query at.
        required: false
        schema:
          type: string
          format: unsignedInteger
          default: '`active_era - 1`'
      - name: unclaimedOnly
        in: query
        description: Only return unclaimed rewards.
        required: false
        schema:
          type: string
          format: boolean
          default: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStakingPayouts'
        "400":
          description: invalid blockId supplied for at query param
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /accounts/{accountId}/vesting-info:
    get:
      tags:
      - accounts
      summary: Get vesting information for an account.
      description: Returns the vesting schedule for an account.
        Replaces `/vesting/{address}` from versions < v1.0.0.
      operationId: getVestingSummaryByAccountId
      parameters:
      - name: accountId
        in: path
        description: SS58 address of the account.
        required: true
        schema:
          format: SS58
          type: string
      - name: at
        in: query
        description: Block at which to query the vesting info for the
          specified account.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountVestingInfo'
        "400":
          description: Invalid Address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /accounts/{address}/validate:
    get:
      tags:
      - accounts
      summary: Validate a given address.
      description: Returns whether the given address is valid ss58 format, the ss58 prefix if the address has one,
        the network address format, and what the account ID is for this address.
      operationId: getValidationByAccountId
      parameters:
      - name: address
        in: path
        description: SS58 or Hex address of the account.
        required: true
        schema:
          format: SS58 or Hex
          type: string
      responses:
        "200":
          description: successfully retrieved address info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountValidation'
  /accounts/compare:
    get:
      tags:
      - accounts
      summary: Compares up to 30 SS58 addresses.
      description: Returns if the given addresses are equal or not, along with details of each address.
        Equality is determined by comparing the accountId/publicKey of each address.
      operationId: accountCompare
      parameters:
      - name: addresses
        in: query
        description: An array or a comma separated string of SS58 addresses. Provide up to 30 addresses
          using one of these formats `?addresses=...&addresses=...` or `?addresses[]=...&addresses[]=...`
          or `?addresses=...,...`.
        required: true
        schema:
          type: array
          items:
            type: string
          description: An array of SS58 addresses.
      responses:
        "200":
          description: successfully compared at least two SS58 addresses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCompare'
        "400":
          description: Invalid Address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /rc/accounts/{address}/balance-info:
    get:
      tags:
      - rc
      summary: Get balance information for an account on the relay chain.
      description: Returns information about an account's balance on the relay chain. This endpoint is specifically for Asset Hub and queries the relay chain (Polkadot/Kusama) for balance information.
      operationId: getRcAccountBalanceInfo
      parameters:
      - name: address
        in: path
        description: SS58 address of the account.
        required: true
        schema:
          type: string
          format: SS58
      - name: at
        in: query
        description: Block at which to query balance info for the
          specified account.
        required: false
        schema:
          type: string
          description: Block height (as a non-negative integer) or hash
            (as a hex string).
          format: unsignedInteger or $hex
      - name: token
        in: query
        description: 'Token to query the balance of. If not specified it will query
          the chains native token (e.g. DOT for Polkadot). Note: this is only relevant
          for chains that support multiple tokens through the ORML tokens pallet.'
        required: false
        schema:
          type: string
          description: Token symbol
      - name: denominated
        in: query
        description: When set to `true` it will denominate any balance's given atomic value
          using the chains given decimal value.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalanceInfo'
        "400":
          description: Invalid Address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /blocks:
    get:
      tags:
      - blocks
      summary: Get a range of blocks by their height.
      description: Given a range query parameter return an array of all the blocks within that range.
      operationId: getBlock
      parameters:
      - name: range
        in: query
        description: A range of integers. There is a max limit of 500 blocks per request.
        required: true
        example: 0-499
        schema:
          type: string
      - name: eventDocs
        in: query
        description: When set to `true`, every event will have an extra `docs`
          property with a string of the events documentation.
        required: false
        schema:
          type: boolean
          default: false
      - name: extrinsicDocs
        in: query
        description: When set to `true`, every extrinsic will have an extra `docs`
          property with a string of the extrinsics documentation.
        required: false
        schema:
          type: boolean
          default: false
      - name: noFees
        in: query
        description: When set to `true`, the fee won't be calculated for the extrinsics.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blocks'
        "400":
          description: invalid Block identifier supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'      
  /blocks/{blockId}:
    get:
      tags:
      - blocks
      summary: Get a block by its height or hash.
      description: Returns a single block. BlockId can either be a block hash or a
        block height. Replaces `/block/{number}` from versions < v1.0.0.
      operationId: getBlockById
      parameters:
      - name: blockId
        in: path
        description: Block identifier, as the block height or block hash.
        required: true
        schema:
          pattern: '^0[xX][0-9a-fA-F]{1,64}$|[0-9]{1,12}'
          type: string
      - name: eventDocs
        in: query
        description: When set to `true`, every event will have an extra `docs`
          property with a string of the events documentation.
        required: false
        schema:
          type: boolean
          default: false
      - name: extrinsicDocs
        in: query
        description: When set to `true`, every extrinsic will have an extra `docs`
          property with a string of the extrinsics documentation.
        required: false
        schema:
          type: boolean
          default: false
      - name: noFees
        in: query
        description: When set to `true`, the fee won't be calculated for the extrinsics.
        required: false
        schema:
          type: boolean
          default: false
      - name: finalizedKey
        in: query
        description: When set to false, this will override the chain-config, and omit the
          finalized key in the response. This can increase performance slightly by avoiding an additional 
          RPC call to the node.
        required: false
        schema:
          type: boolean
      - name: decodedXcmMsgs
        in: query
        description: When set to `true`, this will show the decoded XCM messages within the extrinsics 
          of the requested block.
        required: false
        schema:
          type: boolean
          default: false
      - name: paraId
        in: query
        description: When it is set, this will return only the decoded XCM messages for the specified
          origin Parachain Id (originParaId). To activate this functionality, ensure that the `decodedXcmMsgs`
          parameter is set to true.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockWithDecodedXcmMsgs'
        "400":
          description: invalid Block identifier supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /blocks/{blockId}/header:
    get:
      tags:
      - blocks
      summary: Get a block's header by its height or hash.
      description: Returns a single block's header. BlockId can either be a block hash or a
        block height.
      operationId: getBlockHeaderById
      parameters:
      - name: blockId
        in: path
        description: Block identifier, as the block height or block hash.
        required: true
        schema:
          pattern: '^0[xX][0-9a-fA-F]{1,64}$|[0-9]{1,12}'
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockHeader'
        "400":
          description: invalid Block identifier supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /blocks/{blockId}/extrinsics/{extrinsicIndex}:
    get:
      tags:
      - blocks
      summary: Get an extrinsic by its extrinsicIndex and block height or hash.
        The pair blockId, extrinsicIndex is sometimes referred to as a Timepoint.
      description: Returns a single extrinsic.
      operationId: getExtrinsicByTimepoint
      parameters:
      - name: blockId
        in: path
        description: Block identifier, as the block height or block hash.
        required: true
        schema:
          pattern: '^0[xX][0-9a-fA-F]{1,64}$|[0-9]{1,12}'
          type: string
      - name: extrinsicIndex
        in: path
        description: The extrinsic's index within the block's body.
        required: true
        schema:
          type: string
      - name: eventDocs
        in: query
        description: When set to `true`, every event will have an extra `docs`
          property with a string of the events documentation.
        required: false
        schema:
          type: boolean
          default: false
      - name: extrinsicDocs
        in: query
        description: When set to `true`, every extrinsic will have an extra `docs`
          property with a string of the extrinsics documentation.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtrinsicIndex'
        "400":
          description: Requested `extrinsicIndex` does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /blocks/head:
    get:
      tags:
      - blocks
      summary: Get the most recently finalized block.
      description: Returns the most recently finalized block. Replaces `/block`
        from versions < v1.0.0.
      operationId: getHeadBlock
      parameters:
      - name: finalized
        in: query
        description: Boolean representing whether or not to get the finalized head.
          If it is not set the value defaults to true. When set to false it will attempt
          to get the newest known block, which may not be finalized.
        required: false
        schema:
          type: boolean
          default: true
      - name: eventDocs
        in: query
        description: When set to `true`, every event will have an extra `docs`
          property with a string of the events documentation.
        required: false
        schema:
          type: boolean
          default: false
      - name: extrinsicDocs
        in: query
        description: When set to `true`, every extrinsic will have an extra `docs`
          property with a string of the extrinsics documentation.
        required: false
        schema:
          type: boolean
          default: false
      - name: noFees
        in: query
        description: When set to `true`, the fee won't be calculated for the extrinsics.
        required: false
        schema:
          type: boolean
          default: false
      - name: decodedXcmMsgs
        in: query
        description: When set to `true`, this will show the decoded XCM messages within the extrinsics 
          of the requested block.
        required: false
        schema:
          type: boolean
          default: false
      - name: paraId
        in: query
        description: When it is set, this will return only the decoded XCM messages for the specified
          origin Parachain Id (originParaId). To activate this functionality, ensure that the `decodedXcmMsgs`
          parameter is set to true.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockWithDecodedXcmMsgs'
  /blocks/head/header:
    get:
      tags:
      - blocks
      summary: Get information about the header of the most recent finalized block.
      description: Returns the most recently finalized block's header.
      operationId: getLatestBlockHeader
      parameters:
      - name: finalized
        in: query
        description: Boolean representing whether or not to get the finalized head.
          If it is not set the value defaults to true. When set to false it will attempt
          to get the newest known block, which may not be finalized.
        required: false
        schema:
          type: boolean
          default: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockHeader'
        "400":
          description: invalid Block identifier supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /blocks/{blockId}/extrinsics-raw:
    get:
      tags:
      - blocks
      summary: Get a blocks header & its extrinsics as hex values.
      description: Returns a block & its extrinsics as hex values. BlockId can either be a block hash or a
        block height.
      operationId: getBlockRawExtrinsics
      parameters:
      - name: blockId
        in: path
        description: Block identifier, as the block height or block hash.
        required: true
        schema:
          pattern: '^0[xX][0-9a-fA-F]{1,64}$|[0-9]{1,12}'
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockRaw'
        "400":
          description: invalid Block identifier supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'         
  /contracts/ink/{address}/query:
    post:
      tags:
      - contracts
      summary: Query an !Ink contract with a given message (method).
      description: Will return a valid or invalid result. 
      operationId: callContractQuery
      requestBody:
        $ref: '#/components/requestBodies/ContractMetadata'
      parameters:
      - name: address
        in: path
        description: SS58 or Hex address of the account associated with the contract.
        required: true
        schema:
          type: string
      - name: method
        in: query
        description: The message or method used to query.
        required: false
        schema:
          type: string
          default: 'get'
      - name: gasLimit
        in: query
        description: The gas limit to be used as an option for the queried message.
        required: false
        schema:
          default: -1
          type: number
      - name: storageDepositLimit
        in: query
        description: The storage deposit limit to be used as an option for the queried message.
        required: false
        schema:
          default: null
          type: number
      - name: args
        in: query
        description: Abi params used as args specified in the metadata to be passed into a query. 
          The format to use this query param is ?args[]=1&args[]=2&args[]=3.
        required: false
        schema:
          type: array
          items:
            type: string
          description: An array of Abi params.
      responses:
        "200":
          description: succesful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractsInkQuery'
        "400":
          description: Invalid Method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /coretime/leases:
    get:
      tags:
      - coretime
      summary: Get all the leases currently registered on coretime chain.
      description: ''
      operationId: getCoretimeLeases
      parameters:
      - name: blockId
        in: query
        description: Block identifier, as the block height or block hash.
        required: false
        schema:
          pattern: '^0[xX][0-9a-fA-F]{1,64}$|[0-9]{1,12}'
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoretimeLeasesResponse'
  /coretime/regions:
    get:
      tags:
      - coretime
      summary: Get all the regions currently registered on coretime chain.
      description: ''
      operationId: getCoretimeRegions
      parameters:
      - name: blockId
        in: query
        description: Block identifier, as the block height or block hash.
        required: false
        schema:
          pattern: '^0[xX][0-9a-fA-F]{1,64}$|[0-9]{1,12}'
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoretimeRegionsResponse'
  /coretime/renewals:
    get:
      tags:
      - coretime
      summary: Get all the potential renewals currently registered on coretime chain.
      description: ''
      operationId: getCoretimeRenewals
      parameters:
      - name: blockId
        in: query
        description: Block identifier, as the block height or block hash.
        required: false
        schema:
          pattern: '^0[xX][0-9a-fA-F]{1,64}$|[0-9]{1,12}'
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoretimeRenewalsResponse'
  /coretime/reservations:
    get:
      tags:
      - coretime
      summary: Get all the reservations currently registered on coretime chain.
      description: ''
      operationId: getCoretimeReservations
      parameters:
      - name: blockId
        in: query
        description: Block identifier, as the block height or block hash.
        required: false
        schema:
          pattern: '^0[xX][0-9a-fA-F]{1,64}$|[0-9]{1,12}'
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoretimeReservationsResponse'
  /coretime/info:
    get:
      tags:
      - coretime
      summary: Get the generic information about coretime, either on coretime chain or relay chain.
      description: ''
      parameters:
      - name: blockId
        in: query
        description: Block identifier, as the block height or block hash.
        required: false
        schema:
          pattern: '^0[xX][0-9a-fA-F]{1,64}$|[0-9]{1,12}'
          type: string
      operationId: getCoretimeInfo
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CoretimeChainInfoResponse'
                  - $ref: '#/components/schemas/CoretimeRelayInfoResponse'
  /coretime/overview:
    get:
      tags:
      - coretime
      summary: Get all the cores information either on coretime chain or relay chain.
      description: ''
      operationId: getCoretimeCores
      parameters:
      - name: blockId
        in: query
        description: Block identifier, as the block height or block hash.
        required: false
        schema:
          pattern: '^0[xX][0-9a-fA-F]{1,64}$|[0-9]{1,12}'
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CoretimeChainCoresResponse'
                  - $ref: '#/components/schemas/CoretimeRelayCoresResponse'
  /node/network:
    get:
      tags:
      - node
      summary: Get information about the Substrate node's activity in the peer-to-peer network.
      description: Returns network related information of the node.
      operationId: getNodeNetworking
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeNetwork'
  /node/transaction-pool:
    get:
      tags:
      - node
      summary: Get pending extrinsics from the Substrate node.
      description: Returns the extrinsics that the node knows of that have not
        been included in a block.
      operationId: getNodeTransactionPool
      parameters:
      - name: includeFee
        in: query
        description: Boolean representing whether or not to include tips, partialFee, and priority in each extrinsic.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionPool'
  /node/version:
    get:
      tags:
      - node
      summary: Get information about the Substrates node's implementation and versioning.
      description: Returns versioning information of the node.
      operationId: getNodeVersion
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeVersion'
  /transaction:
    post:
      tags:
      - transaction
      summary: Submit a transaction to the node's transaction pool.
      description: Accepts a valid signed extrinsic. Replaces `/tx` from versions
        < v1.0.0.
      operationId: submitTransaction
      requestBody:
        $ref: '#/components/requestBodies/Transaction'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionSuccess'
        "400":
            description: failed to parse or submit transaction
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/TransactionFailure'
  /transaction/dry-run:
    post:
      tags:
      - transaction
      summary: Dry run an extrinsic.
      description: Use the `dryRun` call to simulate the submission of a transaction
        without executing it so that you can check for potential errors and
        validate the expected outcome.
      operationId: dryrunTransaction
      requestBody:
        $ref: '#/components/requestBodies/TransactionDryRun'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionDryRun'
        "400":
          description: failed to dry-run transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionFailure'
  /transaction/fee-estimate:
    post:
      tags:
      - transaction
      summary: Receive a fee estimate for a transaction.
      description: >-
        Send a serialized transaction and receive back a naive fee estimate.
        Note: `partialFee` does not include any tips that you may add to increase
        a transaction's priority. See the reference on `compute_fee`.
        Replaces `/tx/fee-estimate` from versions < v1.0.0.
        Substrate Reference:
        - `RuntimeDispatchInfo`: https://crates.parity.io/pallet_transaction_payment_rpc_runtime_api/struct.RuntimeDispatchInfo.html
        - `query_info`: https://crates.parity.io/pallet_transaction_payment/struct.Module.html#method.query_info
        - `compute_fee`: https://crates.parity.io/pallet_transaction_payment/struct.Module.html#method.compute_fee
      operationId: feeEstimateTransaction
      requestBody:
        $ref: '#/components/requestBodies/Transaction'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionFeeEstimate'
        "400":
          description: fee estimation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionFeeEstimateFailure'
  /transaction/material:
    get:
      tags:
      - transaction
      summary: Get all the network information needed to construct a transaction offline.
      description: Returns the material that is universal to constructing any
        signed transaction offline. Replaces `/tx/artifacts` from versions < v1.0.0.
      operationId: getTransactionMaterial
      parameters:
      - name: at
        in: query
        description: Block at which to retrieve the transaction construction
          material.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      - name: noMeta
        in: query
        description: DEPRECATED! This is no longer supported
        schema:
          type: boolean
          default: false
      - name: metadata
        in: query
        description: Specifies the format of the metadata to be returned. Accepted values are
          'json', and 'scale'. 'json' being the decoded metadata, and 'scale' being the SCALE encoded metadata.
          When `metadata` is not inputted, the `metadata` field will be absent.
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionMaterial'
        "400":
          description: invalid blockId supplied for at query param
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /transaction/material/{metadataVersion}:
    get:
      tags:
      - transaction
      summary: Get all the network information needed to construct a transaction offline and
        the version of metadata specified in `metadataVersion`.
      description: Returns all the materials necessary for constructing any signed transactions
        offline.
      operationId: getTransactionMaterialwithVersionedMetadata
      parameters:
      - name: metadataVersion
        in: path
        description: The version of metadata. The input is expected in a `vX` format, where `X`
          represents the version number (e.g. `v14`, `v15`). By default, metadata is outputted
          in 'json' format, unless the `metadata` query parameter is provided, in which case it
          can be either in 'json' or 'scale' format.
        required: true
        schema:
          type: string
      - name: at
        in: query
        description: Block at which to retrieve the transaction construction
          material.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      - name: metadata
        in: query
        description: Specifies the format of the metadata to be returned. Accepted values are
          'json', and 'scale'. 'json' being the decoded metadata, and 'scale' being the SCALE encoded metadata.
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionMaterial'
        "400":
          description: invalid blockId supplied for at query param
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pallets/assets/{assetId}/asset-info:
    get:
      tags:
        - pallets
      summary: Get information and metadata associated with an asset.
      description: Returns information associated with an asset which includes
        the assets `AssetDetails` and `AssetMetadata`.
      operationId: getAssetById
      parameters:
      - name: assetId
        in: path
        description: The unsignedInteger Id of an asset.
        required: true
        schema:
          type: string
          format: unsignedInteger
      - name: at
        in: query
        description: Block at which to retrieve the assetInfo.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PalletsAssetsInfo'
  /pallets/asset-conversion/liquidity-pools:
    get:
      tags:
      - pallets
      summary: Get information related to existing liquidity pools.
      description: Returns a list of the existing liquidity pools and its corresponding 
        tokens at a given block height. If no block is specified, it returns the latest list
        available.
      parameters:
        - name: at
          in: query
          description: Block at which to retrieve the liquidity pools information.
          required: false
          schema:
            type: string
            description: Block identifier, as the block height or block hash.
            format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiquidityPools'
        "400":
          description: invalid blockId supplied for at query param
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pallets/asset-conversion/next-available-id:
    get:
      tags:
      - pallets
      summary: Get the next available liquidity pool id.
      description: Returns the next available liquidity pool's id at a given 
        block height. If no block is specified, it returns the latest list
        available.
      parameters:
        - name: at
          in: query
          description: Block at which to retrieve the next liquidity pool's id.
          required: false
          schema:
            type: string
            description: Block identifier, as the block height or block hash.
            format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NextAvailableId'
        "400":
          description: invalid blockId supplied for at query param
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pallets/foreign-assets:
    get:
      tags:
        - pallets
      summary: Get information and metadata associated with foreign assets.
      description: Returns information associated with every foreign asset which includes
        the assets `AssetDetails` and `AssetMetadata`.
      operationId: getForeignAssets
      parameters:
      - name: at
        in: query
        description: Block at which to retrieve the foreign assets.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                description: An array of foreign assets.
                $ref: '#/components/schemas/PalletsForeignAssets'
  /pallets/nomination-pools/info:
    get:
      tags:
        - pallets
      summary: Get information associated with nomination pools.
      description: Returns information and metadata for nomination pools including pool counters and limits.
      operationId: getNominationPoolInfo
      parameters:
      - name: at
        in: query
        description: Block at which to retrieve the nomination pool info.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PalletsNominationPoolsInfo'
  /pallets/nomination-pools/{poolId}:
    get:
      tags:
        - pallets
      summary: Get information and metadata associated with a nomination pool.
      description: Returns information associated with a nomination pool which includes
        the nomination pools' `bondedPool`, `rewardPool` and `metadata`.
      operationId: getNominationPoolById
      parameters:
      - name: poolId
        in: path
        description: The unsignedInteger Id of a nomination pool.
        required: true
        schema:
          type: string
          format: unsignedInteger
      - name: at
        in: query
        description: Block at which to retrieve the nomination pool.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PalletsNominationPool'
  /pallets/on-going-referenda:
      get:
        tags:
          - pallets
        summary: Get a list of all on-going referenda that have track `root (0)` and `whitelisted (1)`,
          along with their associated information.
        description: Returns information associated with on-going referenda which includes
          the referendum's `enactment`, `submitted` and `deciding` fields.
        operationId: getPalletOnGoingReferenda
        parameters:
        - name: at
          in: query
          description: Block at which to retrieve the on-going referenda.
          required: false
          schema:
            type: string
            description: Block identifier, as the block height or block hash.
            format: unsignedInteger or $hex
        responses:
          "200":
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PalletsOnGoingReferenda'
  /pallets/{palletId}/consts:
    get:
      tags:
      - pallets
      summary: Get a list of constants for a pallet.
      description: Returns a list of const item metadata for constant items of the
        specified palletId.
      parameters:
      - name: palletId
        in: path
        description: 'Name or index of the pallet to read constant metadata for. Note: the pallet name must match what is
          specified in the runtime metadata.'
        required: true
        schema:
          type: string
      - name: onlyIds
        in: query
        description: Only return the names (IDs) of the const items instead of every constant's metadata.
        required: false
        schema:
          type: boolean
      - name: at
        in: query
        description: Block at which to retrieve a list of
          the pallet's constant items.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                description: Pallet info and Array of constantItemIds.
                $ref: '#/components/schemas/PalletConstants'
        "400":
          description: invalid blockId supplied for at query param
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: could not find pallet with palletId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pallets/{palletId}/consts/{constantItemId}:
    get:
      tags:
      - pallets
      summary: Get the value of a constant item.
      description: Returns the value stored under the constantItemId.
      parameters:
      - name: palletId
        in: path
        description: 'Name or index of the pallet to read constant metadata for. Note: the pallet name must match what is
          specified in the runtime metadata.'
        required: true
        schema:
          type: string
      - name: constantItemId
        in: path
        description: Id of the const item to query for.
        required: true
        schema:
          type: string
      - name: at
        in: query
        description: Block at which to query the const item at.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      - name: metadata
        in: query
        description: Include the const items metadata (including documentation)
          if set to true.
        required: false
        schema:
          default: false
          type: boolean
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PalletConstantsItem'
        "400":
          description: invalid blockId supplied for at query param
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: could not find resource with id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pallets/{palletId}/dispatchables:
    get:
      tags:
      - pallets
      summary: Get a list of dispatchables for a pallet.
      description: Returns a list of dispatchable item metadata for distpachable items of the
        specified palletId.
      parameters:
      - name: palletId
        in: path
        description: 'Name or index of the pallet to read dispatchable metadata for. Note: the pallet name must match what is
          specified in the runtime metadata.'
        required: true
        schema:
          type: string
      - name: onlyIds
        in: query
        description: Only return the names (IDs) of the dispatchable items instead of every dispatchable's metadata.
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                description: Pallet info and Array of dispatchableItemIds.
                $ref: '#/components/schemas/PalletDispatchables'
        "400":
          description: invalid blockId supplied for at query param
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: could not find pallet with palletId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pallets/{palletId}/dispatchables/{dispatchableItemId}:
    get:
      tags:
      - pallets
      summary: Get the value of a dispatchable item.
      description: Returns the value stored under the dispatchableItemId.
      parameters:
      - name: palletId
        in: path
        description: 'Name or index of the pallet to read dispatchable metadata for. Note: the pallet name must match what is
          specified in the runtime metadata.'
        required: true
        schema:
          type: string
      - name: dispatchableItemId
        in: path
        description: Id of the dispatchable item to query for.
        required: true
        schema:
          type: string
      - name: metadata
        in: query
        description: Include the dispatchable items metadata (including documentation)
          if set to true.
        required: false
        schema:
          default: false
          type: boolean
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PalletDispatchablesItem'
        "400":
          description: invalid blockId supplied for at query param
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: could not find resource with id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pallets/{palletId}/errors:
    get:
      tags:
      - pallets
      summary: Get a list of errors for a pallet.
      description: Returns a list of error item metadata for error items of the
        specified palletId.
      parameters:
      - name: palletId
        in: path
        description: 'Name or index of the pallet to read error metadata for. Note: the pallet name must match what is
          specified in the runtime metadata.'
        required: true
        schema:
          type: string
      - name: onlyIds
        in: query
        description: Only return the names (IDs) of the error items instead of every error's metadata.
        required: false
        schema:
          type: boolean
      - name: at
        in: query
        description: Block at which to retrieve a list of
          the pallet's error items.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                description: Pallet info and Array of errorItemIds.
                $ref: '#/components/schemas/PalletErrors'
        "400":
          description: invalid blockId supplied for at query param
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: could not find pallet with palletId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pallets/{palletId}/errors/{errorItemId}:
    get:
      tags:
      - pallets
      summary: Get the value of an error item.
      description: Returns the value stored under the errorItemId.
      parameters:
      - name: palletId
        in: path
        description: 'Name or index of the pallet to read error metadata for. Note: the pallet name must match what is
          specified in the runtime metadata.'
        required: true
        schema:
          type: string
      - name: errorItemId
        in: path
        description: Id of the error item to query for.
        required: true
        schema:
          type: string
      - name: at
        in: query
        description: Block at which to query the error item at.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      - name: metadata
        in: query
        description: Include the error items metadata (including documentation)
          if set to true.
        required: false
        schema:
          default: false
          type: boolean
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PalletErrorsItem'
        "400":
          description: invalid blockId supplied for at query param
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: could not find resource with id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pallets/{palletId}/events:
    get:
      tags:
      - pallets
      summary: Get a list of events for a pallet.
      description: Returns a list of event item metadata for event items of the
        specified palletId.
      parameters:
      - name: palletId
        in: path
        description: 'Name or index of the pallet to read event metadata for. Note: the pallet name must match what is
          specified in the runtime metadata.'
        required: true
        schema:
          type: string
      - name: onlyIds
        in: query
        description: Only return the names (IDs) of the event items instead of every event's metadata.
        required: false
        schema:
          type: boolean
      - name: at
        in: query
        description: Block at which to retrieve a list of
          the pallet's event items.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                description: Pallet info and Array of eventItemIds.
                $ref: '#/components/schemas/PalletEvents'
        "400":
          description: invalid blockId supplied for at query param
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: could not find pallet with palletId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pallets/{palletId}/events/{eventItemId}:
    get:
      tags:
      - pallets
      summary: Get the value of an event item.
      description: Returns the value stored under the eventItemId.
      parameters:
      - name: palletId
        in: path
        description: 'Name or index of the pallet to read event metadata for. Note: the pallet name must match what is
          specified in the runtime metadata.'
        required: true
        schema:
          type: string
      - name: eventItemId
        in: path
        description: Id of the event item to query for.
        required: true
        schema:
          type: string
      - name: at
        in: query
        description: Block at which to query the event item at.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      - name: metadata
        in: query
        description: Include the event items metadata (including documentation)
          if set to true.
        required: false
        schema:
          default: false
          type: boolean
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PalletEventsItem'
        "400":
          description: invalid blockId supplied for at query param
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: could not find resource with id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /runtime/metadata:
    get:
      tags:
      - runtime
      summary: Get the runtime metadata in decoded, JSON form.
      description: >-
       Returns the runtime metadata as a JSON object.
       Substrate Reference:
       - FRAME Support: https://crates.parity.io/frame_support/metadata/index.html
       - Knowledge Base: https://substrate.dev/docs/en/knowledgebase/runtime/metadata
      parameters:
      - name: at
        in: query
        description: Block at which to retrieve the metadata at.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                description: Response is dependent on the runtime metadata contents.
  /runtime/metadata/{metadataVersion}:
    get:
      tags:
      - runtime
      summary: Get the requested version of runtime metadata in decoded, JSON form.
      description: >-
       Returns the requested version of runtime metadata as a JSON object.
       Substrate Reference:
       - FRAME Support: https://crates.parity.io/frame_support/metadata/index.html
       - Knowledge Base: https://substrate.dev/docs/en/knowledgebase/runtime/metadata
      parameters:
      - name: metadataVersion
        in: path
        description: The version of metadata. The input is expected in a `vX` format, where `X`
          represents the version number (e.g. `v14`, `v15`).
        required: true
        schema:
          type: string
      - name: at
        in: query
        description: Block at which to retrieve the metadata at.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                description: Response is dependent on the runtime metadata contents.
  /runtime/metadata/versions:
    get:
      tags:
      - runtime
      summary: Get the available versions of runtime metadata.
      description: >-
       Returns the available versions of runtime metadata.
       Substrate Reference:
       - FRAME Support: https://crates.parity.io/frame_support/metadata/index.html
       - Knowledge Base: https://substrate.dev/docs/en/knowledgebase/runtime/metadata
      parameters:
      - name: at
        in: query
        description: Block at which to retrieve the metadata versions at.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                description: An array with the available metadata versions.
  /runtime/code:
    get:
      tags:
      - runtime
      summary: Get the runtime wasm blob.
      description: Returns the runtime Wasm blob in hex format.
      parameters:
      - name: at
        in: query
        description: Block at which to retrieve the runtime wasm blob at.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeCode'
  /runtime/spec:
    get:
      tags:
      - runtime
      summary: Get version information of the Substrate runtime.
      description: Returns version information related to the runtime.
      parameters:
      - name: at
        in: query
        description: Block at which to retrieve runtime version information at.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeSpec'
  /pallets/{palletId}/storage:
    get:
      tags:
      - pallets
      summary: Get a list of storage items for a pallet.
      description: Returns a list of storage item metadata for storage items of the
        specified palletId.
      parameters:
      - name: palletId
        in: path
        description: 'Name or index of the pallet to query the storage of. Note: the pallet name must match what is
          specified in the runtime metadata.'
        required: true
        schema:
          type: string
      - name: onlyIds
        in: query
        description: Only return the names (IDs) of the storage items instead of all of each storage
          item's metadata.
        required: false
        schema:
          type: boolean
      - name: at
        in: query
        description: Block at which to retrieve a list of
          the pallet's storage items.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                description: Pallet info and Array of storageItemIds.
                $ref: '#/components/schemas/PalletStorage'
        "400":
          description: invalid blockId supplied for at query param
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: could not find pallet with palletId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pallets/{palletId}/storage/{storageItemId}:
    get:
      tags:
      - pallets
      summary: Get the value of a storage item.
      description: Returns the value stored under the storageItemId. If it is a
        map, query param key1 is required. If the storage item is double map
        query params key1 and key2 are required.
      parameters:
      - name: palletId
        in: path
        description: 'Name or index of the pallet to query the storage of. Note: pallet name aligns with
          pallet name as specified in runtime metadata.'
        required: true
        schema:
          type: string
      - name: storageItemId
        in: path
        description: Id of the storage item to query for.
        required: true
        schema:
          type: string
      - name: keys
        in: query
        description: Set of N keys used for querying a storage map. It should be queried using the 
          following format - ?keys[]=key1&keys[]=key2. Order matters, as it will determine the 
          order the keys are passed into the storage calls.
        required: false
        schema:
          type: array
          items:
            type: string
          description: An array of storage keys.
      - name: at
        in: query
        description: Block at which to query the storage item at.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      - name: metadata
        in: query
        description: Include the storage items metadata (including documentation)
          if set to true.
        required: false
        schema:
          default: false
          type: boolean
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PalletStorageItem'
        "400":
          description: invalid blockId supplied for at query param
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: could not find resource with id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pallets/pool-assets/{assetId}/asset-info:
    get:
      tags:
        - pallets
      summary: Get information and metadata associated with a pool asset.
      description: Returns information associated with a pool asset which includes
        the assets `AssetDetails` and `AssetMetadata`.
      operationId: getPoolAssetById
      parameters:
      - name: assetId
        in: path
        description: The unsignedInteger Id of a pool asset.
        required: true
        schema:
          type: string
          format: unsignedInteger
      - name: at
        in: query
        description: Block at which to retrieve the assetInfo.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PalletsPoolAssetsInfo'
  /pallets/staking/progress:
    get:
      tags:
      - staking
      - pallets
      summary: Get progress on the general Staking pallet system.
      description: Returns information on the progress of key components of the
        staking system and estimates of future points of interest. If you are querying
        from Asset Hub for staking progress, this endpoint requires multi chain connections
        between the relay chain, and asset hub itself. Set the asset hub rpc to SAS_SUBSTRATE_URL,
        and add the relay chain to the SAS_SUBSTRATE_MULTI_CHAIN_URL env var. Refer to the README for the structure
        of the env vars. The `rcAt` parameter allows querying Asset Hub state using relay chain
        block numbers, enabling post-migration infrastructure to continue using relay chain
        block identifiers while accessing Asset Hub data.
      operationId: getStakingProgress
      parameters:
      - name: at
        in: query
        description: Block at which to retrieve a staking progress report.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      - name: rcAt
        in: query
        description: Relay chain block at which to retrieve Asset Hub staking progress report. Only supported for Asset Hub endpoints. Cannot be used with 'at' parameter.
        required: false
        schema:
          type: string
          description: Relay chain block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StakingProgress'
        "400":
          description: invalid blockId supplied for at/rcAt query param, or invalid parameter combination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pallets/staking/validators:
    get:
      tags:
      - staking
      - pallets
      summary: Get all validators (active/waiting) of a specific chain.
      description: Returns a list of all validators addresses and their
        corresponding status which can be either active or waiting. It will also return 
        a list of active validators that will not be part of the next era for staking. They will
        be under the key "validatorsToBeChilled". It's important to note, that addresses can be present in both
        the "validators" key, and "validatorsToBeChilled".
      operationId: getStakingValidators
      parameters:
      - name: at
        in: query
        description: Block at which to retrieve the list of validators.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:  
                $ref: '#/components/schemas/StakingValidators'
        "400":
          description: invalid blockId supplied for at query param
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /paras:
    get:
      tags:
      - paras
      summary: |
        [DEPRECATION NOTE: PHASED OUT ENDPOINT IN FAVOR OF CORETIME] List all registered paras (parathreads & parachains).
      description: Returns all registered parachains and parathreads with lifecycle info.
      parameters:
      - name: at
        in: query
        description: Block at which to retrieve paras list at.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paras'
  /paras/leases/current:
    get:
      tags:
      - paras
      summary: |
        [DEPRECATION NOTE: PHASED OUT ENDPOINT IN FAVOR OF CORETIME] Get general information about the current lease period.
      description: |
        Returns an overview of the current lease period, including lease holders.
      parameters:
      - name: at
        in: query
        description: Block at which to retrieve current lease period info at.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      - name: currentLeaseHolders
        in: query
        description: |
          Wether or not to include the `currentLeaseHolders` property. Inclusion
          of the property will likely result in a larger payload and increased
          response time.
        required: false
        schema:
          type: boolean
          default: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParasLeasesCurrent'
  /paras/auctions/current:
    get:
      tags:
      - paras
      summary: |
        [DEPRECATION NOTE: PHASED OUT ENDPOINT IN FAVOR OF CORETIME] Get the status of the current auction.
      description: |
        Returns an overview of the current auction. There is only one auction
        at a time. If there is no auction most fields will be `null`. If the current
        auction phase is in `vrfDelay` and you are looking to retrieve the latest winning
        bids, it is advised to query one block before `finishEnd` in the `endingPeriod` phase
        for that auction as there technically are no winners during the `vrfDelay` and thus
        the field is `null`.
      parameters:
      - name: at
        in: query
        description: Block at which to retrieve auction progress at.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParasAuctionsCurrent'
  /paras/crowdloans:
    get:
      tags:
      - paras
      summary: |
        [DEPRECATION NOTE: PHASED OUT ENDPOINT IN FAVOR OF CORETIME] List all stored crowdloans.
      description: |
        Returns a list of all the crowdloans and their associated paraIds.
      parameters:
      - name: at
        in: query
        description: Block at which to retrieve the list of paraIds that have crowdloans at.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParasCrowdloans'
  /paras/{paraId}/crowdloan-info:
    get:
      tags:
      - paras
      summary: |
        [DEPRECATION NOTE: PHASED OUT ENDPOINT IN FAVOR OF CORETIME] Get crowdloan information for a `paraId`.
      description: |
        Returns crowdloan's `fundInfo` and the set of `leasePeriods` the crowdloan`
        covers.
      parameters:
      - name: paraId
        in: path
        description: paraId to query the crowdloan information of.
        required: true
        schema:
          type: number
      - name: at
        in: query
        description: Block at which to retrieve info at.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParasCrowdloanInfo'
  /paras/{paraId}/lease-info:
    get:
      tags:
      - paras
      summary: |
        [DEPRECATION NOTE: PHASED OUT ENDPOINT IN FAVOR OF CORETIME] Get current and future leases as well as the lifecycle stage for a given `paraId`.
      description: |
        Returns a list of leases that belong to the `paraId` as well as the
        `paraId`'s current lifecycle stage.
      parameters:
      - name: paraId
        in: path
        description: paraId to query the crowdloan information of.
        required: true
        schema:
          type: number
      - name: at
        in: query
        description: Block at which to retrieve para's leases at.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParasLeaseInfo'
  /paras/head/included-candidates:
    get:
      tags:
      - paras
      summary: |
        [DEPRECATION NOTE: PHASED OUT ENDPOINT IN FAVOR OF CORETIME] Get the heads of the included (backed and considered available) parachain candidates at the
        specified block height or at the most recent finalized head otherwise.
      description: |
        Returns an object with all the parachain id's as keys, and their headers as values.
      parameters:
      - name: at
        in: query
        description: Block at which to retrieve para's heads at.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParasHeaders'
  /paras/head/backed-candidates:
    get:
      tags:
      - paras
      summary: |
        [DEPRECATION NOTE: PHASED OUT ENDPOINT IN FAVOR OF CORETIME] Get the heads of the backed parachain candidates at the specified block height or at the most recent finalized head otherwise.
      description: |
        Returns an object with all the parachain id's as keys, and their headers as values.
      parameters:
      - name: at
        in: query
        description: Block at which to retrieve para's heads at.
        required: false
        schema:
          type: string
          description: Block identifier, as the block height or block hash.
          format: unsignedInteger or $hex
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParasHeaders'
  /experimental/blocks/head/traces:
    get:
      tags:
      - trace
      summary: |
        [Experimental - subject to breaking change.] Get traces for the most
        recently finalized block.
      description: |
        Returns traces (spans and events) of the most recently finalized block from
        RPC `state_straceBlock`. Consult the [RPC docs](https://github.com/paritytech/substrate/blob/aba876001651506f85c14baf26e006b36092e1a0/client/rpc-api/src/state/mod.rs#L140)
        for conceptual info.
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlocksTrace'
  /experimental/blocks/{blockId}/traces:
    get:
      tags:
      - trace
      summary: |
        [Experimental - subject to breaking change.] Get traces for the given `blockId`.
      description: |
        Returns traces (spans and events) of the specified block from
        RPC `state_straceBlock`. Consult the [RPC docs](https://github.com/paritytech/substrate/blob/aba876001651506f85c14baf26e006b36092e1a0/client/rpc-api/src/state/mod.rs#L140) for conceptual info.
      parameters:
      - name: blockId
        in: path
        description: Block identifier, as the block height or block hash.
        required: true
        schema:
          pattern: '^0[xX][0-9a-fA-F]{1,64}$|[0-9]{1,12}'
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlocksTrace'
  /experimental/blocks/head/traces/operations:
    get:
      tags:
      - trace
      summary: |
        [Experimental - subject to breaking change.] Get the operations from the
        most recently finalized block.
      description: |
        Returns the operations from the most recently finalized block. Operations
        represent one side of a balance change. For example if Alice transfers
        100unit to Bob there will be two operations; 1) Alice - 100 2) Bob + 100.

        Given account A and A's balance at block k0 (Ak0), if we sum all the
        operations for A from block k1 through kn against Ak0, we will end up
        with A's balance at block kn (Akn). Thus, operations can be used to audit
        that balances change as expected.

        This is useful for Substrate based chains because the advanced business
        logic can make it difficult to ensure auditable balance reconciliation
        based purely on events. Instead of using events one can use the
        operations given from this endpoint.

        Note - each operation corresponds to a delta of a single field of the
        `system::AccountData` storage item (i.e `free`, `reserved`, `misc_frozen`
        and `fee_frozen`).
        Note - operations are assigned a block execution phase (and extrinsic index
        for those in the apply extrinsic phase) based on an "action group". For
        example all the operations for 1 extrinsic will be in the same action group.
        The action groups can optionally be fetched with the `action` query param
        for closer auditing.
        Note - There are no 0 value operations (e.g. a transfer of 0, or a
        transfer to itself)

        To learn more about operation and action group creation please consult
        [this diagram](https://docs.google.com/drawings/d/1vZoJo9jaXlz0LmrdTOgHck9_1LsfuQPRmTr-5g1tOis/edit?usp=sharing)
      parameters:
      - name: actions
        in: query
        description: Whether or not to include action groups.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlocksTraceOperations'
  /experimental/blocks/{blockId}/traces/operations:
    get:
      tags:
      - trace
      summary: |
        [Experimental - subject to breaking change.] Get the operations from the
        specified block.
      description: |
        Returns the operations from the most recently finalized block. Operations
        represent one side of a balance change. For example if Alice transfers
        100unit to Bob there will be two operations; 1) Alice - 100 2) Bob + 100.

        Given account A and A's balance at block k0 (Ak0), if we sum all the
        operations for A from block k1 through kn against Ak0, we will end up
        with A's balance at block kn (Akn). Thus, operations can be used to audit
        that balances change as expected.

        This is useful for Substrate based chains because the advanced business
        logic can make it difficult to ensure auditable balance reconciliation
        based purely on events. Instead of using events one can use the
        operations given from this endpoint.

        Note - each operation corresponds to a delta of a single field of the
        `system::AccountData` storage item (i.e `free`, `reserved`, `misc_frozen`
        and `fee_frozen`).
        Note - operations are assigned a block execution phase (and extrinsic index
        for those in the apply extrinsic phase) based on an "action group". For
        example all the operations for 1 extrinsic will be in the same action group.
        The action groups can optionally be fetched with the `action` query param
        for closer auditing.
        Note - There are no 0 value operations (e.g. a transfer of 0, or a
        transfer to itself)

        To learn more about operation and action group creation please consult
        [this diagram](https://docs.google.com/drawings/d/1vZoJo9jaXlz0LmrdTOgHck9_1LsfuQPRmTr-5g1tOis/edit?usp=sharing)
      parameters:
      - name: blockId
        in: path
        description: Block identifier, as the block height or block hash.
        required: true
        schema:
          pattern: '^0[xX][0-9a-fA-F]{1,64}$|[0-9]{1,12}'
          type: string
      - name: actions
        in: query
        description: Whether or not to include action groups.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlocksTraceOperations'
components:
  schemas:
    AccountAssetsApproval:
      type: object
      properties:
        at:
          $ref: '#/components/schemas/BlockIdentifiers'
        amount:
          type: string
          description: The amount of funds approved for the balance transfer from the owner
            to some delegated target.
          format: unsignedInteger
        deposit:
          type: string
          description: The amount reserved on the owner's account to hold this item in storage.
          format: unsignedInteger
    AccountAssetsBalances:
      type: object
      properties:
        at:
          $ref: '#/components/schemas/BlockIdentifiers'
        assets:
          type: array
          description: An array of queried assets.
          items:
            $ref: '#/components/schemas/AssetsBalance'
    AccountBalanceInfo:
      type: object
      properties:
        at:
          $ref: '#/components/schemas/BlockIdentifiers'
        nonce:
          type: string
          description: Account nonce.
          format: unsignedInteger
        tokenSymbol:
          type: string
          description: Token symbol of the balances displayed in this response.
          format: unsignedInteger
        free:
          type: string
          description: Free balance of the account. Not equivalent to _spendable_
            balance. This is the only balance that matters in terms of most operations
            on tokens.
          format: unsignedInteger
        reserved:
          type: string
          description: Reserved balance of the account.
          format: unsignedInteger
        miscFrozen:
          type: string
          description: The amount that `free` may not drop below when withdrawing
            for anything except transaction fee payment. Note, that some runtimes may not have
            support for miscFrozen and if so the following will be returned `miscFrozen does not exist for this runtime`
          format: unsignedInteger
        feeFrozen:
          type: string
          description: The amount that `free` may not drop below when withdrawing
            specifically for transaction fee payment. Note, that some runtimes may not have
            support for feeFrozen and if so the following will be returned `feeFrozen does not exist for this runtime`
          format: unsignedInteger
        frozen:
          type: string
          description: The amount that `free` may not drop below when reducing the balance, except for actions
[...]
