name: Benchmark

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  benchmark:
    name: benchmark
    runs-on: ubuntu-latest
    environment: master_n_tags
    container:
      image: paritytech/node-wrk:latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5

      - name: benchmarks
        run: |
          yarn --immutable
          echo "Benchmarks for polkadot"
          mkdir -p artifacts
          export WRK_THREADS=4
          export WRK_CONNECTIONS=50
          export WRK_TIMEOUT=120s
          yarn bench --log-level info --ws-url wss://rpc.polkadot.io --time 60s
          mv benchmarks.txt artifacts/

      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: benchmarks
          path: ./artifacts/
