name: Deploy

on:
  push:
    branches:
      - master
    tags:
      - v*

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

#to use reusable workflow
permissions:
  id-token: write
  contents: read

env:
  APP: "substrate-api-sidecar"

jobs:
  set-variables:
    # This workaround sets the container image for each job using 'set-variables' job output.
    # env variables don't work for PR from forks, so we need to use outputs.
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.version.outputs.VERSION }}
    steps:
      - name: Define version
        id: version
        run: |
          export COMMIT_SHA=${{ github.sha }}
          export COMMIT_SHA_SHORT=${COMMIT_SHA:0:8}
          export REF_NAME=${{ github.ref_name }}
          export REF_SLUG=${REF_NAME//\//_}
          if [[ ${REF_SLUG} == "master" ]]
          then
            VERSION=${REF_SLUG}-${COMMIT_SHA_SHORT}
            echo "VERSION=${REF_SLUG}-${COMMIT_SHA_SHORT}" >> $GITHUB_OUTPUT
          else
            VERSION=${REF_SLUG}
            echo "VERSION=${REF_SLUG}" >> $GITHUB_OUTPUT
          fi
          echo "set VERSION=${VERSION}"

  build_push_docker:
    name: Build docker image
    runs-on: ubuntu-latest
    environment: master_n_tags
    needs: [set-variables]
    env:
      VERSION: ${{ needs.set-variables.outputs.VERSION }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build Docker image
        uses: docker/build-push-action@v6.19.1
        env:
          DOCKER_BUILD_SUMMARY: false
          DOCKER_BUILD_RECORD_UPLOAD: false
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            docker.io/parity/substrate-api-sidecar:${{ env.VERSION }}

  deploy-stg-kusama:
    name: Deploy Staging
    runs-on: ubuntu-latest
    needs: [set-variables, build_push_docker]
    environment: parity-stg
    env:
      VERSION: ${{ needs.set-variables.outputs.VERSION }}
      ARGOCD_SERVER: "argocd-stg.teleport.parity.io"
    steps:
      - name: Deploy to ArgoCD
        uses: paritytech/argocd-deployment-action@main
        with:
          environment: "parity-stg"
          tag: "${{ env.VERSION }}"
          app_name: "substrate-api-sidecar-kusama"
          app_packages: "${{ env.APP }}"
          argocd_server: ${{ env.ARGOCD_SERVER }}
          teleport_token: ${{ env.APP }}
          teleport_app_name: "argocd-stg"
          argocd_auth_token: ${{ secrets.ARGOCD_AUTH_TOKEN }}

  deploy-stg-polkadot:
    name: Deploy Staging
    runs-on: ubuntu-latest
    needs: [set-variables, build_push_docker]
    environment: parity-stg
    env:
      VERSION: ${{ needs.set-variables.outputs.VERSION }}
      ARGOCD_SERVER: "argocd-stg.teleport.parity.io"
    steps:
      - name: Deploy to ArgoCD
        uses: paritytech/argocd-deployment-action@main
        with:
          environment: "parity-stg"
          tag: "${{ env.VERSION }}"
          app_name: "substrate-api-sidecar-polkadot"
          app_packages: "${{ env.APP }}"
          argocd_server: ${{ env.ARGOCD_SERVER }}
          teleport_token: ${{ env.APP }}
          teleport_app_name: "argocd-stg"
          argocd_auth_token: ${{ secrets.ARGOCD_AUTH_TOKEN }}

  deploy-prod-kusama:
    name: Deploy Production
    runs-on: ubuntu-latest
    needs: [set-variables, deploy-stg-kusama]
    # Deploy only if the tag is v*
    if: startsWith(github.ref, 'refs/tags/v')
    environment: parity-chains
    env:
      VERSION: ${{ needs.set-variables.outputs.VERSION }}
      ARGOCD_SERVER: "argocd-chains.teleport.parity.io"
    steps:
      - name: Deploy to ArgoCD
        uses: paritytech/argocd-deployment-action@main
        with:
          environment: "parity-chains"
          tag: "${{ env.VERSION }}"
          app_name: "substrate-api-sidecar-kusama"
          app_packages: "${{ env.APP }}"
          argocd_server: ${{ env.ARGOCD_SERVER }}
          teleport_token: ${{ env.APP }}
          teleport_app_name: "argocd-chains"
          argocd_auth_token: ${{ secrets.ARGOCD_AUTH_TOKEN }}

  deploy-prod-polkadot:
    name: Deploy Production
    runs-on: ubuntu-latest
    needs: [set-variables, deploy-stg-polkadot]
    # Deploy only if the tag is v*
    if: startsWith(github.ref, 'refs/tags/v')
    environment: parity-chains
    env:
      VERSION: ${{ needs.set-variables.outputs.VERSION }}
      ARGOCD_SERVER: "argocd-chains.teleport.parity.io"
    steps:
      - name: Deploy to ArgoCD
        uses: paritytech/argocd-deployment-action@main
        with:
          environment: "parity-chains"
          tag: "${{ env.VERSION }}"
          app_name: "substrate-api-sidecar-polkadot"
          app_packages: "${{ env.APP }}"
          argocd_server: ${{ env.ARGOCD_SERVER }}
          teleport_token: ${{ env.APP }}
          teleport_app_name: "argocd-chains"
          argocd_auth_token: ${{ secrets.ARGOCD_AUTH_TOKEN }}
